<!DOCTYPE html>
<!--<form ng-submit="null" autocomplete="off">-->
    <!--<md-input-container md-no-float class="md-no-error md-primary" md-colors="{background: 'background'}" style=" border-radius: 10px; padding-right: 10px">-->
        <!--<md-icon md-svg-icon="magnify" md-colors="{fill: 'primary'}"></md-icon>-->
        <!--<input ng-model="test" placeholder="Search for user">-->
    <!--</md-input-container>-->
<!--</form>-->

<!--<md-autocomplete-->
        <!--md-items="item in $ctrl.users"-->
        <!--md-item-text="item"-->
        <!--placeholder="Search for User">-->
    <!--&lt;!&ndash;<md-item-template>&ndash;&gt;-->
        <!--&lt;!&ndash;<span md-highlight-text="$ctrl.searchText" md-highlight-flags="^i">{{item.name}}</span>&ndash;&gt;-->
    <!--&lt;!&ndash;</md-item-template>&ndash;&gt;-->
    <!--&lt;!&ndash;<md-not-found>&ndash;&gt;-->
        <!--&lt;!&ndash;No states matching "{{$ctrl.searchText}}" were found.&ndash;&gt;-->
    <!--&lt;!&ndash;</md-not-found>&ndash;&gt;-->
<!--</md-autocomplete>-->

<md-autocomplete
        md-selected-item="$ctrl.selectedItem"
        md-search-text="$ctrl.searchText"
        md-items="item in $ctrl.querySearch($ctrl.searchText)"
        md-item-text="item.username"
        md-selected-item-change="$ctrl.setSelectedUser(item)"
        md-no-cache="true"
        md-menu-class=""
        placeholder="{{$ctrl.getPlaceholder()}}"
        ng-style="$ctrl.getStyle()"
    <md-item-template>
        <!--<div layout="column">-->
            <div md-highlight-text="$ctrl.searchText">{{item.name}}</div>
            <div md-highlight-text="$ctrl.searchText">{{item.username}}</div>
        <!--</div>-->
    </md-item-template>
    <md-not-found>
        No matches found.
    </md-not-found>
</md-autocomplete>